// app global css
.bgNone {
  color:white;
  background: none; 
}
.ImageTextTops {
  margin-top:18%;
  position:absolute;
  top:0;
  text-align:center;
  width:100%
}
.blurImage {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px)
}

.primaryphoto {
  align-items:center;
  cursor: pointer;
  height:100%;
  background-color:rgba(0,0,0, 0);
  -webkit-animation:change-color 4s ease 2s infinite normal;
  -moz-animation:change-color 4s ease 2s infinite normal;
  -ms-animation:change-color 4s ease 2s infinite normal;
  animation:change-color 4s ease 2s infinite normal;
}

.q-tooltip {
  background-color:white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:black;  
}

.img-center {
  display: block;
  margin-top: -20%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.position-absolute {
  position:absolute;
  z-index:999 !important;
}

.flex {
  display: flex;
  align-items:center;
}

.bg-primary-faded {
  background-color: rgba(38, 50, 56, 0.8);
}
.profile-header {
  position:relative;
  padding: 10px 20px;
  z-index:1000;
  margin-top: -120px;
}

.avatar-img {
  border:3px solid white; 
  margin-top:-50px;
  height:180px; 
  border-radius:100%;
}

.avatar-img-square {
  height:64px; 
  border-radius:5px;
}

.padding {
  padding: 20px
}

.padding-top {
  padding-top: 20px
}

.q-layout-header {
    height: 42px;
    min-height: 42px;
    max-height: 42px;
}

.q-layout-header .q-toolbar {
    height: 42px;
    min-height: 42px;
    max-height: 42px;
}

.padded {
  padding: 30px
}

.card-span {
  color: gray;
  text-align:center;
  padding:30px;
  width:350px;
}

.slide {
  display:flex;
  align-items: center;
  justify-content:center;
  width:100%;
  height:600px;
}

.container {
  display:flex;
  align-items:center;
  justify-content:space-between;
  max-width: 970px;
  margin:auto;
}

.bg-flat{
  margin:0;
  padding:0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.display-header {
  display:flex;
  align-items:center;
  justify-content:center;
  padding-bottom:0px;
  margin-bottom:10px
}

body::-webkit-scrollbar-track, div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
  background-color: #263238 !important;
}

body::-webkit-scrollbar, div::-webkit-scrollbar
{
  width: 8px !important;
  background-color: #bdbdbd !important;
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb
{
  border-radius: 2px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
  background-color: #F0F0F0 !important;
}